@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bodySectionMiddle {
    min-height: 80vh;
    background-color: #eebece;
    position: relative;

    .lego-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    .circleBlue {
        position: absolute;
        bottom: 40px;
        left: 20%;
        transform: translate(100%, -50%);
        width: 100px;
        height: 100px;
        background-color: #0b24fb;
        border-radius: 50px;
    }
    .row.justify-content-center {
        min-height: 80vh;
    }
}

.defText {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;

    span {
        font-weight: bold;
        color: #0b24fb;
    }
}

.weekendTeam {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
}
